<div class="item">
  <div class="box panel panel-default">
  	<div class="panel-heading">
		<% if bookmark.url %>
			<!--#Title-->
			<strong><%= bookmark.title %></strong><br/>
			<%= link_to image_tag(bookmark.thumbnail_url, :size => "250x250" ), bookmark.url%><br/>
		<% end %>
	</div>
		

		<%= render partial: 'votes/voter', locals: {bookmark: bookmark} %>

		<!--#Description-->
		[<%=	bookmark.body %>]
		<!--#tags-->

		
		<p>Tags: <%= raw bookmark.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
		<!--#links-->
		<p>
			<%= link_to "Edit", edit_bookmark_path(bookmark) %> 
			<%= link_to "Delete", bookmark, method: :delete, confirm: 'Are you sure you want to delete this post?' %>
			<%= render partial: 'favorites/favorite', locals: {bookmark: bookmark} %>
			
		</p>
	</div>
</div>