<%= form_for bookmark do |f| %>

  <form role="form">
    <div class="form-group">
      <%= f.label :title %>
      <div class="controls">
        <%= f.text_field :title, placeholder: "Every bookmark needs a name", class: 'form-control' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :url, "Add link here" %>
      <div class="controls">
        <%= t.text_field placeholder: "'include 'http://'", class: 'form-control' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :body %>
      <div class="controls">
        <%= f.text_area :body, rows: 4, placeholder: "Briefly describe the bookmark here", class: 'form-control' %>
      </div>
    </div></br>

    <div class="control-group">
      <%= f.label :tag_list, "Tags (seperated by commas)" %>
      <div class="controls">
        <%= f.text_field :tag_list, placeholder: "Fun, Food, Lettuce", class: 'form-control' %>
      </div>
    </div>
    </br>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "Save", class: 'btn-primary' %>
      </div>
    </div>
  </form>

<% end %>
