<div class="panel-body">
<div class="box panel panel-default">	
	<div class="jumbotron">
		<% tag_cloud Bookmark.tag_counts, %w{s m l} do |tag, css_class| %>
			<%= link_to tag.name, tag_path(tag.name), class: css_class %>
		<% end %>
	</div>
		
	
		<% @bookmarks.each do |bookmark| %>
		<div class="panel-body">
			<%= bookmark.title %>
			[<%=	bookmark.body %>]
			
			<!--<p>tags: <%= bookmark.tag_list  %> </p>-->
			<p>Tags: <%= raw bookmark.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
			<p>
				<%= link_to "Edit", edit_bookmark_path(bookmark) %> 
				<%= link_to "Delete", bookmark, method: :delete, confirm: 'Are you sure you want to delete this post?' %>
			</p>
			

		</div>
		<% end %>
	
</div>

<hr/>
<%= render partial: 'form', locals: { bookmark: Bookmark.new } %>

</div>