<h1>Sign up</h1>

<%= form_for @user do |f| %>
		<% if @user.errors.any? %>
			<div class="error_messages">
				<h2>Form is invalid</h2>
				<ul>
					<% @users.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

  <form role="form">
    <div class="form-group">
			<%= f.label :email %><br />
      <div class="controls">
			<%= f.text_field :email, class: 'form-control'%>
			</div>
    </div>
	
		<div class="field">
			<%= f.label :password %><br />
      <div class="controls">
			<%= f.password_field :password, class: 'form-control' %>
			</div>
		</div>
		<div class="field", class: 'form-control'>
			<%= f.label :password_confirmation %><br />
      <div class="controls">
			<%= f.password_field :password_confirmation, class: 'form-control' %></br>
			</div>
		</div>
		<div class="actions">
			<%= f.submit "Sign Up", class: 'btn-primary'%>
		</div>
	</form>
<% end %>
