<!DOCTYPE html>
<html>
<head>
  <title>Postmarks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 
 <div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav nav-tabs">
        
        <li><%= link_to "Postmarks", "#" %></li>
        <li><%= link_to "View Bookmarks", bookmarks_path  %></li>

        <div class="pull-right">
          <% if current_user %>
            Logged in as <%= current_user.email %>.
            <%= link_to "Log Out", logout_path %>
          <% else %>
            <%= link_to "Sign Up", signup_path %> or
            <%= link_to "Log In", login_path %>
          <% end %>
        </div>
      </ul>
      
    </div>
  </div>

    <% if flash[:notice] %>
      <div class="alert alert-success alert-dimissable">
        <button type="button" class="close" data-dimiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-error alert-dimissable">
        <button type="button" class="close" data-dimiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-dimissable">
        <button type="button" class="close" data-dimiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
  <%= yield %>
</div>
</body>
</html>
