<!DOCTYPE html>
<html>
<head>
  <title>Postmarks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
    <ul class="nav nav-tabs">
      
      <li><%= link_to "Postmarks", "#" %></li>
      <li><%= link_to "bookmark", bookmarks_path  %></li>

    </ul>
    </div>
  </div>
</div>

<%= flash[:error] if flash[:error] %>

<%= yield %>

</body>
</html>
